# Config file for making correspondence table: 17978-mff to 17961

# 1. Fetch genome files
GENBANK_DIR=/work/geisingerlab/Mark/correspondence_tables_17978/correspondence_17978-17961/input
# Note, use file ./accessions.txt for accession numbers to download.  One per line, e.g. `CP012004\nCP012005...`

# 2. Convert genbank files to fasta amino acids
# uses GENBANK_DIR defined above
FASTA_DIR=/work/geisingerlab/Mark/correspondence_tables_17978/correspondence_17978-17961/fasta

# 3. Make blastdb for reference (e.g. 17978-mff)
TARGET_REF_GENOME_FA=${GENBANK_DIR}/NZ_CP012004.fasta
OUT_DIR=/work/geisingerlab/Mark/REF_GENOMES/BLASTdb/17978-mff
OUTPUT_DATABASE=${OUT_DIR}/NZ_CP012004_blast_db

# 3. Convert 17961 genbank to fasta amino acids


# 4. BLAST 17961 fasta-formatted amino acid sequences vs. 17978-mff proteins blastdb


# 5. Parse BLAST output and make correspondence table

